@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --swiper-theme-color: #fff !important;
  --swiper-navigation-size: 30px !important;
  --swiper-navigation-sides-offset: -10px !important
}

.text-container {
    width: 100%;
    height: 30px;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center; /* centraliza o conteúdo verticalmente */
  }
  
  .scrolling-text {
    display: inline-block;
    white-space: nowrap; /* impede a quebra de linha */
    padding-left: 100%;
    animation: scroll 65s linear infinite;
    color: white;
    font-size: 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Posição inicial do texto */
    }
    100% {
      transform: translateX(-100%); /* Posição final do texto */
    }
  }
  
.shirt-model {
  position: relative;
  animation-name: flutuar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.navigate-bottom {
  color: black;
}

.swiper-button-next, .swiper-button-prev {
  padding: 30px;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  z-index: 1000;
}

