html{
  font-size: 87.5%;
}

@media (max-width: 768px){
  html{
    font-size: 75%;
  }
}

@media (max-width: 425px){
  html{
    font-size: 62.5%;
  }
}

@media (max-width: 375px){
  html{
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  max-width: 95%;
  margin: auto;
}